#example_pane {
	text-align: center;
}

#countdown_dashboard {
	height: 700px;
	width:  1650px;
	margin: auto;
}


.dash {
	width: 525px;
	height: 100px;
	float: left;
	margin-top: 100px;
	margin-left: 0px;
	padding-left: 23px;
	position: relative;
	color: #7cfc00;
}
.dash .digit {
	font: bold 300pt Tahoma;
	float: left;
	width: 250px;
	text-align: center;
}

.dash_title {
	font-size: 30pt;
	display: block;
	text-align: center;
	padding-left: 0px;
	color: #7cfc00;
}

									    }