#countdown_dashboard{
	width:  100%;
        height: auto;
	margin-left:auto;
	margin-right:auto;
}

.dash {
	width: 33%;
	height: 0%;
	float: left;	
	margin-top: 3%;
	margin-left:auto;
	margin-right:auto;
	//padding-left: 0%;
	position: relative;
	color: #7cfc00;
}
.dash .digit {
	font: bold 2000% Tahoma;
	float: left;
	width: 45%;
	text-align: center;
}

.dash_title {
	font-size: 500%;
	display: block;
	text-align: center;
	// padding-right: 0%;
	color: #7cfc00;
}

#countdown_controls{
  padding-top: 40%;
  padding-left: 43%;  
  align: center;
  position: absolute;
  text-align: center;
  display: block;
}

#share ul{
  padding-right: 200px;
}

#share li{
//  margin-right: 100px;
  padding-right: 20px;
  list-style: none;
  float: left;
}